.shower .caption p {
  margin-top: .5em;
}
p.venue {
  font-style: italic;
  margin-bottom: 1em;
}

.shower {
  --accent: #3a2d72;
}

q {
  font-style: italic;
}

.text.slide p {
  margin-top: 1.5em;
  font-weight: bold;
  font-size: 1.33em;
  line-height: 1.4;
  color: var(--accent);
}

.slide figure.cover.width.margin > :first-child {
  width: 88%
}
.slide h2 + figure.cover.margin > :first-child {
  margin-top: 2em;
}
.slide h2 + figure.cover.height.margin > :first-child {
  height: 66%;
}

.slide h2.shout {
  font-size: 3.2em;
  line-height: 1.2;
}

.slide.cover h2 {
  text-shadow: -1.5px -1.5px 0 white,
                1.5px -1.5px 0 white,
               -1.5px  1.5px 0 white,
                1.5px  1.5px 0 white;
}
.dark.slide.cover h2 {
  color: var(--accent);
  box-shadow: 0 0 100px white;
  background-color: rgba(255, 255, 255, .5);
}

.slide pre {
  font-size: .6em;
  margin-left: 30px;
}

.prefix {
  opacity: .5;
}

blockquote {
  margin-top: -21px;
}
blockquote p {
  font-weight: bold;
  font-style: italic;
}

img.faded {
  opacity: .1;
  filter: contrast(2);
}

figure.cover img {
  z-index: -200 !important;
}
